.sidenav-container {
	height: 100%;
}

.sidenav {
	width: 230px;
	overflow-y: hidden;
}

.sidenav .mat-toolbar {
	background: inherit;
}

.sidenav-logo {
	margin: 40px 0px !important;
}

.mat-expansion-panel {
	box-shadow: none !important;
}

.mat-expansion-panel-header {
	padding: 0px 20px !important;
	max-height: 48px !important;
}

.mat-expansion-indicator::after {
	border-width: 0 3px 3px 0 !important;
}

.normal-title {
	padding: 0px 20px !important;
	height: 48px !important;
}

.menu-item {
	display: flex;
	flex-wrap: wrap;
	margin: 0px !important;
	padding: 8px 40px !important;
}

.side-options {
	overflow-y: auto;
	scrollbar-width: thin;
	scrollbar-color: #c4c4c4 white;
	height: 100%;
}

.mat-drawer-inner-container {
	overflow: hidden;
}

.example-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

