<div class="container-fluid">
	<div class="d-flex flex-wrap justify-content-between">
		<div class="d-flex align-items-center txt-blue2 mb-4">
			<span class="title"> Partidas Contables </span>
		</div>
	</div>

	<div class="row">
		<div class="col-md-10">
			<app-search-bar [dataSource]="dataSource"></app-search-bar>
		</div>
		<div class="col-md-2 d-flex justify-content-end">
			<button mat-raised-button class="bg-blue3 txt-white squared-button w-auto" (click)="new()">
				Crear nuevo
			</button>
		</div>
	</div>
	<app-circular-loading [loading]="loading"></app-circular-loading>
	<div class="row" [hidden]="loading">
		<div class="col-sm-12">
			<mat-card>
				<mat-card-content>
					<div>
						<div class="table-container">
							<table
								mat-table
								[dataSource]="dataSource"
								class="table-responsive-sm table-hover"
								matSort
								matSortActive="key"
								matSortDirection="asc"
								appTableQuery
							>
								<ng-container matColumnDef="partidaID">
									<th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
									<td mat-cell *matCellDef="let element">
										{{ element.partidaID }}
									</td>
								</ng-container>
                <ng-container matColumnDef="fechaDocumento">
									<th mat-header-cell *matHeaderCellDef mat-sort-header>Fecha Documento</th>
									<td mat-cell *matCellDef="let element">
										{{ element.fechaDocumento }}
									</td>
								</ng-container>
								<ng-container matColumnDef="fechaRegistro">
									<th mat-header-cell *matHeaderCellDef mat-sort-header>Fecha Registro</th>
									<td mat-cell *matCellDef="let element">
										{{ element.fechaRegistro }}
									</td>
								</ng-container>
                <ng-container matColumnDef="referencia">
									<th mat-header-cell *matHeaderCellDef mat-sort-header>Referencia</th>
									<td mat-cell *matCellDef="let element">
										{{ element.referencia }}
									</td>
								</ng-container>
                <ng-container matColumnDef="moneda">
									<th mat-header-cell *matHeaderCellDef mat-sort-header>Moneda</th>
									<td mat-cell *matCellDef="let element">
										{{ element.moneda }}
									</td>
								</ng-container>
                <ng-container matColumnDef="empresa">
									<th mat-header-cell *matHeaderCellDef mat-sort-header>Empresa</th>
									<td mat-cell *matCellDef="let element">
										{{ element.empresa }}
									</td>
								</ng-container>
                <ng-container matColumnDef="total">
									<th mat-header-cell *matHeaderCellDef mat-sort-header>Total</th>
									<td mat-cell *matCellDef="let element">
										{{ element.total }}
									</td>
								</ng-container>
                <ng-container matColumnDef="texto">
									<th mat-header-cell *matHeaderCellDef mat-sort-header>Texto</th>
									<td mat-cell *matCellDef="let element">
										{{ element.texto }}
									</td>
								</ng-container>
								<ng-container matColumnDef="actions">
									<th mat-header-cell *matHeaderCellDef class="text-center">Acciones</th>
									<td mat-cell *matCellDef="let element" class="text-center">
										<div class="d-flex justify-content-center">
											<button mat-icon-button [matMenuTriggerFor]="menu">
												<mat-icon>more_vert</mat-icon>
											</button>
											<mat-menu #menu="matMenu">
												<button mat-menu-item (click)="edit(element)">Editar</button>
												<mat-divider></mat-divider>
												<button mat-menu-item class="txt-red3" (click)="delete(element)">
													Eliminar
												</button>
											</mat-menu>
										</div>
									</td>
								</ng-container>
								<tr mat-header-row *matHeaderRowDef="columns"></tr>
								<tr mat-row *matRowDef="let row; columns: columns"></tr>
							</table>
						</div>
						<div
							class="d-flex flex-column-reverse flex-md-row align-items-center justify-content-between"
						>
							<mat-paginator [pageSizeOptions]="[25, 50, 100]" showFirstLastButtons></mat-paginator>
						</div>
					</div>
				</mat-card-content>
			</mat-card>
		</div>
	</div>
</div>
