<div class="container-fluid">
	<div class="d-flex flex-column txt-blue2 mb-4">
		<span class="title mb-3"> Grupo #3 </span>
    <table style="width: fit-content;">
      <tr class="mx-2">
        <td class="tag pr-4">WILLIAM MANUEL GARCIA MEJIA</td>
        <td class="tag">1590-18-3323</td>
      </tr>
      <tr class="mx-2">
        <td class="tag pr-4">ESWIN ALBERTO RODRÍGUEZ PARADA</td>
        <td class="tag">1590-18-3755</td>
      </tr>
      <tr class="mx-2">
        <td class="tag pr-4">DONOBAN JEYZON OSOY DEOCUTE</td>
        <td class="tag"> 1690-16-1467</td>
      </tr>
      <tr class="mx-2">
        <td class="tag pr-4">SUCELY ANAYTEÉ SANTOS GODOY</td>
        <td class="tag">1590-14-21777</td>
      </tr>
      <tr class="mx-2">
        <td class="tag pr-4">LEILANY YANIRA MEJÍA CARRILLO</td>
        <td class="tag">1590-16-3786</td>
      </tr>
    </table>
	</div>
</div>
