<div class="container-fluid">
	<div class="d-flex flex-wrap justify-content-between">
		<div class="d-flex align-items-center txt-blue2 mb-4">
			<span class="title"> Estado Resultados </span>
		</div>
	</div>
  <app-circular-loading [loading]="loading"></app-circular-loading>
	<div class="row" [hidden]="loading">
		<div class="col-sm-12">
			<mat-card>
        <mat-card-header class="d-flex justify-content-end">
          <button mat-raised-button color="primary" (click)="imprimir()">Imprimir</button>
        </mat-card-header>
				<mat-card-content>
					<div>
						<div class="table-container">
							<table
								mat-table
								[dataSource]="dataSource"
								class="table-responsive-sm table-hover"
								matSort
								matSortActive="key"
								matSortDirection="asc"
								appTableQuery
							>
              <ng-container matColumnDef="signo">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Signo</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.signo }}
                </td>
              </ng-container>
								<ng-container matColumnDef="descripcion">
									<th mat-header-cell *matHeaderCellDef mat-sort-header>Descripcion</th>
									<td mat-cell *matCellDef="let element">
										{{ element.descripcion }}
									</td>
								</ng-container>
								<ng-container matColumnDef="monto">
									<th mat-header-cell *matHeaderCellDef mat-sort-header>Monto</th>
									<td mat-cell *matCellDef="let element">
										{{ element.monto }}
									</td>
								</ng-container>
								<tr mat-header-row *matHeaderRowDef="columns"></tr>
								<tr mat-row *matRowDef="let row; columns: columns"></tr>
							</table>
						</div>
					</div>
				</mat-card-content>
			</mat-card>
		</div>
	</div>
</div>
